*{
    box-sizing: border-box;
}

html , body ,.maps-app{
    width: 100%;
    height: 100%;
    margin: 0;
}

#map{
    height: 100%!important;
    width: 100%!important;
}


.mapboxgl-ctrl-geocoder input[type='text']{
    margin-left: 22px;
}